# AAPL Data Context Viewer

This notebook displays the head of all AAPL CSV files across different model folders and periods to provide a quick overview.

In [1]:
import pandas as pd
import os
import glob
from IPython.display import display, Markdown

## Helper Functions

In [2]:
def display_csv_head(file_path, rows=5):
    """
    Display the head of a CSV file with a title showing the file path.
    """
    try:
        # Check if file exists
        if not os.path.exists(file_path):
            display(Markdown(f"## ‚ùå File not found: {file_path}"))
            return
            
        # Read the CSV
        df = pd.read_csv(file_path)
        
        # Display file info
        display(Markdown(f"## üìä {file_path}"))
        display(Markdown(f"**Shape:** {df.shape[0]} rows √ó {df.shape[1]} columns"))
        
        # Display head
        display(df.head(rows))
        
        # Display column info
        display(Markdown("**Columns:**"))
        col_info = pd.DataFrame({
            'Type': df.dtypes,
            'Non-Null Count': df.count(),
            'Null Count': df.isnull().sum()
        })
        display(col_info)
        
        print("\n" + "-"*80 + "\n")
    except Exception as e:
        display(Markdown(f"## ‚ùå Error reading {file_path}: {str(e)}"))
        print("\n" + "-"*80 + "\n")

## Cleaned Data

In [3]:
# Display cleaned data
display_csv_head('cleaned/AAPL.csv')

## üìä cleaned/AAPL.csv

**Shape:** 2513 rows √ó 22 columns

,date,open,high,low,close,volume,dividends,splits,symbol,Sector,...,ma5,ma20,ma50,volatility,volume_ma20,day_of_week,month,year,next_day_close,price_up
0,2015-05-13 00:00:00-04:00,28.290464,28.523695,28.227671,28.259068,138776800,0.0,0.0,AAPL,Technology,...,28.884309,29.091414,28.676284,0.010445,170446000.0,2,5,2015,28.918398,1
1,2015-05-14 00:00:00-04:00,28.573038,28.918398,28.516973,28.918398,180814000,0.0,0.0,AAPL,Technology,...,28.884309,29.091414,28.676284,0.010445,170446000.0,3,5,2015,28.878025,0
2,2015-05-15 00:00:00-04:00,28.945304,29.039493,28.752440,28.878025,152832000,0.0,0.0,AAPL,Technology,...,28.884309,29.091414,28.676284,0.010445,170446000.0,4,5,2015,29.196480,1
3,2015-05-18 00:00:00-04:00,28.790569,29.315338,28.786083,29.196480,203531600,0.0,0.0,AAPL,Technology,...,28.884309,29.091414,28.676284,0.010445,170446000.0,0,5,2015,29.169573,0
4,2015-05-19 00:00:00-04:00,29.308613,29.351223,29.073139,29.169573,178532800,0.0,0.0,AAPL,Technology,...,28.884309,29.091414,28.676284,0.010445,170446000.0,1,5,2015,29.167328,0

**Columns:**

                   Type  Non-Null Count  Null Count
date             object            2513           0
open            float64            2513           0
high            float64            2513           0
low             float64            2513           0
close           float64            2513           0
volume            int64            2513           0
dividends       float64            2513           0
splits          float64            2513           0
symbol           object            2513           0
Sector           object            2513           0
Industry         object            2513           0
return          float64            2513           0
ma5             float64            2513           0
ma20            float64            2513           0
ma50            float64            2513           0
volatility      float64            2513           0
volume_ma20     float64            2513           0
day_of_week       int64            2513           0
month             int64            2513           0
year              int64            2513           0
next_day_close  float64            2513           0
price_up          int64            2513           0

--------------------------------------------------------------------------------

## LSTM Model Data

In [8]:
# Display LSTM initial data
display_csv_head('lstm/initial/AAPL_lstm.csv')

# Display LSTM period data
for period in ['day', 'week', 'month']:
    display_csv_head(f'lstm/{period}/AAPL_lstm_{period}.csv')

## üìä lstm/initial/AAPL_lstm.csv

**Shape:** 2513 rows √ó 43 columns

,open_scaled,high_scaled,low_scaled,close_scaled,volume_scaled,return_scaled,ma5_scaled,ma20_scaled,ma50_scaled,volatility_scaled,...,ma50_min,ma50_max,volatility_min,volatility_max,volume_ma20_min,volume_ma20_max,day_of_week_min,day_of_week_max,month_min,month_max
0,0.032421,0.031590,0.032728,0.031860,0.184693,0.539055,0.033372,0.033351,0.030997,0.089094,...,21.900755,240.48581,0.004815,0.068004,37800500.0,310295280.0,0.0,4.0,1.0,12.0
1,0.033611,0.033243,0.033949,0.034629,0.251889,0.539055,0.033372,0.033351,0.030997,0.089094,...,21.900755,240.48581,0.004815,0.068004,37800500.0,310295280.0,0.0,4.0,1.0,12.0
2,0.035180,0.033750,0.034943,0.034460,0.207160,0.451348,0.033372,0.033351,0.030997,0.089094,...,21.900755,240.48581,0.004815,0.068004,37800500.0,310295280.0,0.0,4.0,1.0,12.0
3,0.034528,0.034904,0.035085,0.035797,0.288203,0.495413,0.033372,0.033351,0.030997,0.089094,...,21.900755,240.48581,0.004815,0.068004,37800500.0,310295280.0,0.0,4.0,1.0,12.0
4,0.036711,0.035055,0.036297,0.035684,0.248242,0.453031,0.033372,0.033351,0.030997,0.089094,...,21.900755,240.48581,0.004815,0.068004,37800500.0,310295280.0,0.0,4.0,1.0,12.0

**Columns:**

                          Type  Non-Null Count  Null Count
open_scaled            float64            2513           0
high_scaled            float64            2513           0
low_scaled             float64            2513           0
close_scaled           float64            2513           0
volume_scaled          float64            2513           0
return_scaled          float64            2513           0
ma5_scaled             float64            2513           0
ma20_scaled            float64            2513           0
ma50_scaled            float64            2513           0
volatility_scaled      float64            2513           0
volume_ma20_scaled     float64            2513           0
day_of_week_scaled     float64            2513           0
month_scaled           float64            2513           0
date                    object            2513           0
next_day_close         float64            2513           0
next_day_close_scaled  float64            2513           0
price_up                 int64            2513           0
open_min               float64            2513           0
open_max               float64            2513           0
high_min               float64            2513           0
high_max               float64            2513           0
low_min                float64            2513           0
low_max                float64            2513           0
close_min              float64            2513           0
close_max              float64            2513           0
volume_min             float64            2513           0
volume_max             float64            2513           0
return_min             float64            2513           0
return_max             float64            2513           0
ma5_min                float64            2513           0
ma5_max                float64            2513           0
ma20_min               float64            2513           0
ma20_max               float64            2513           0
ma50_min               float64            2513           0
ma50_max               float64            2513           0
volatility_min         float64            2513           0
volatility_max         float64            2513           0
volume_ma20_min        float64            2513           0
volume_ma20_max        float64            2513           0
day_of_week_min        float64            2513           0
day_of_week_max        float64            2513           0
month_min              float64            2513           0
month_max              float64            2513           0

--------------------------------------------------------------------------------

## üìä lstm/day/AAPL_lstm_day.csv

**Shape:** 2513 rows √ó 44 columns

,open_scaled,high_scaled,low_scaled,close_scaled,volume_scaled,return_scaled,ma5_scaled,ma20_scaled,ma50_scaled,volatility_scaled,...,ma50_max,volatility_min,volatility_max,volume_ma20_min,volume_ma20_max,day_of_week_min,day_of_week_max,month_min,month_max,close_original
0,0.032421,0.031590,0.032728,0.031860,0.184693,0.539055,0.033372,0.033351,0.030997,0.089094,...,240.48581,0.004815,0.068004,37800500.0,310295280.0,0.0,4.0,1.0,12.0,28.259068
1,0.033611,0.033243,0.033949,0.034629,0.251889,0.539055,0.033372,0.033351,0.030997,0.089094,...,240.48581,0.004815,0.068004,37800500.0,310295280.0,0.0,4.0,1.0,12.0,28.918398
2,0.035180,0.033750,0.034943,0.034460,0.207160,0.451348,0.033372,0.033351,0.030997,0.089094,...,240.48581,0.004815,0.068004,37800500.0,310295280.0,0.0,4.0,1.0,12.0,28.878025
3,0.034528,0.034904,0.035085,0.035797,0.288203,0.495413,0.033372,0.033351,0.030997,0.089094,...,240.48581,0.004815,0.068004,37800500.0,310295280.0,0.0,4.0,1.0,12.0,29.196480
4,0.036711,0.035055,0.036297,0.035684,0.248242,0.453031,0.033372,0.033351,0.030997,0.089094,...,240.48581,0.004815,0.068004,37800500.0,310295280.0,0.0,4.0,1.0,12.0,29.169573

**Columns:**

                          Type  Non-Null Count  Null Count
open_scaled            float64            2513           0
high_scaled            float64            2513           0
low_scaled             float64            2513           0
close_scaled           float64            2513           0
volume_scaled          float64            2513           0
return_scaled          float64            2513           0
ma5_scaled             float64            2513           0
ma20_scaled            float64            2513           0
ma50_scaled            float64            2513           0
volatility_scaled      float64            2513           0
volume_ma20_scaled     float64            2513           0
day_of_week_scaled     float64            2513           0
month_scaled           float64            2513           0
date                    object            2513           0
next_day_close         float64            2513           0
next_day_close_scaled  float64            2513           0
price_up                 int64            2513           0
open_min               float64            2513           0
open_max               float64            2513           0
high_min               float64            2513           0
high_max               float64            2513           0
low_min                float64            2513           0
low_max                float64            2513           0
close_min              float64            2513           0
close_max              float64            2513           0
volume_min             float64            2513           0
volume_max             float64            2513           0
return_min             float64            2513           0
return_max             float64            2513           0
ma5_min                float64            2513           0
ma5_max                float64            2513           0
ma20_min               float64            2513           0
ma20_max               float64            2513           0
ma50_min               float64            2513           0
ma50_max               float64            2513           0
volatility_min         float64            2513           0
volatility_max         float64            2513           0
volume_ma20_min        float64            2513           0
volume_ma20_max        float64            2513           0
day_of_week_min        float64            2513           0
day_of_week_max        float64            2513           0
month_min              float64            2513           0
month_max              float64            2513           0
close_original         float64            2513           0

--------------------------------------------------------------------------------

## üìä lstm/week/AAPL_lstm_week.csv

**Shape:** 2508 rows √ó 47 columns

,open_scaled,high_scaled,low_scaled,close_scaled,volume_scaled,return_scaled,ma5_scaled,ma20_scaled,ma50_scaled,volatility_scaled,...,volume_ma20_min,volume_ma20_max,day_of_week_min,day_of_week_max,month_min,month_max,close_original,next_week_close_scaled,next_week_close_original,price_up_week
0,0.032421,0.031590,0.032728,0.031860,0.184693,0.539055,0.033372,0.033351,0.030997,0.089094,...,37800500.0,310295280.0,0.0,4.0,1.0,12.0,28.259068,0.035249,29.065961,1
1,0.033611,0.033243,0.033949,0.034629,0.251889,0.539055,0.033372,0.033351,0.030997,0.089094,...,37800500.0,310295280.0,0.0,4.0,1.0,12.0,28.918398,0.035709,29.175399,1
2,0.035180,0.033750,0.034943,0.034460,0.207160,0.451348,0.033372,0.033351,0.030997,0.089094,...,37800500.0,310295280.0,0.0,4.0,1.0,12.0,28.878025,0.036419,29.344492,1
3,0.034528,0.034904,0.035085,0.035797,0.288203,0.495413,0.033372,0.033351,0.030997,0.089094,...,37800500.0,310295280.0,0.0,4.0,1.0,12.0,29.196480,0.036312,29.318927,1
4,0.036711,0.035055,0.036297,0.035684,0.248242,0.453031,0.033372,0.033351,0.030997,0.089094,...,37800500.0,310295280.0,0.0,4.0,1.0,12.0,29.169573,0.036683,29.407284,1

**Columns:**

                             Type  Non-Null Count  Null Count
open_scaled               float64            2508           0
high_scaled               float64            2508           0
low_scaled                float64            2508           0
close_scaled              float64            2508           0
volume_scaled             float64            2508           0
return_scaled             float64            2508           0
ma5_scaled                float64            2508           0
ma20_scaled               float64            2508           0
ma50_scaled               float64            2508           0
volatility_scaled         float64            2508           0
volume_ma20_scaled        float64            2508           0
day_of_week_scaled        float64            2508           0
month_scaled              float64            2508           0
date                       object            2508           0
next_day_close            float64            2508           0
next_day_close_scaled     float64            2508           0
price_up                    int64            2508           0
open_min                  float64            2508           0
open_max                  float64            2508           0
high_min                  float64            2508           0
high_max                  float64            2508           0
low_min                   float64            2508           0
low_max                   float64            2508           0
close_min                 float64            2508           0
close_max                 float64            2508           0
volume_min                float64            2508           0
volume_max                float64            2508           0
return_min                float64            2508           0
return_max                float64            2508           0
ma5_min                   float64            2508           0
ma5_max                   float64            2508           0
ma20_min                  float64            2508           0
ma20_max                  float64            2508           0
ma50_min                  float64            2508           0
ma50_max                  float64            2508           0
volatility_min            float64            2508           0
volatility_max            float64            2508           0
volume_ma20_min           float64            2508           0
volume_ma20_max           float64            2508           0
day_of_week_min           float64            2508           0
day_of_week_max           float64            2508           0
month_min                 float64            2508           0
month_max                 float64            2508           0
close_original            float64            2508           0
next_week_close_scaled    float64            2508           0
next_week_close_original  float64            2508           0
price_up_week               int64            2508           0

--------------------------------------------------------------------------------

## üìä lstm/month/AAPL_lstm_month.csv

**Shape:** 2492 rows √ó 47 columns

,open_scaled,high_scaled,low_scaled,close_scaled,volume_scaled,return_scaled,ma5_scaled,ma20_scaled,ma50_scaled,volatility_scaled,...,volume_ma20_min,volume_ma20_max,day_of_week_min,day_of_week_max,month_min,month_max,close_original,next_month_close_scaled,next_month_close_original,price_up_month
0,0.032421,0.031590,0.032728,0.031860,0.184693,0.539055,0.033372,0.033351,0.030997,0.089094,...,37800500.0,310295280.0,0.0,4.0,1.0,12.0,28.259068,0.035357,29.091718,1
1,0.033611,0.033243,0.033949,0.034629,0.251889,0.539055,0.033372,0.033351,0.030997,0.089094,...,37800500.0,310295280.0,0.0,4.0,1.0,12.0,28.918398,0.035266,29.070039,1
2,0.035180,0.033750,0.034943,0.034460,0.207160,0.451348,0.033372,0.033351,0.030997,0.089094,...,37800500.0,310295280.0,0.0,4.0,1.0,12.0,28.878025,0.035214,29.057545,1
3,0.034528,0.034904,0.035085,0.035797,0.288203,0.495413,0.033372,0.033351,0.030997,0.089094,...,37800500.0,310295280.0,0.0,4.0,1.0,12.0,29.196480,0.035084,29.026682,0
4,0.036711,0.035055,0.036297,0.035684,0.248242,0.453031,0.033372,0.033351,0.030997,0.089094,...,37800500.0,310295280.0,0.0,4.0,1.0,12.0,29.169573,0.034986,29.003295,0

**Columns:**

                              Type  Non-Null Count  Null Count
open_scaled                float64            2492           0
high_scaled                float64            2492           0
low_scaled                 float64            2492           0
close_scaled               float64            2492           0
volume_scaled              float64            2492           0
return_scaled              float64            2492           0
ma5_scaled                 float64            2492           0
ma20_scaled                float64            2492           0
ma50_scaled                float64            2492           0
volatility_scaled          float64            2492           0
volume_ma20_scaled         float64            2492           0
day_of_week_scaled         float64            2492           0
month_scaled               float64            2492           0
date                        object            2492           0
next_day_close             float64            2492           0
next_day_close_scaled      float64            2492           0
price_up                     int64            2492           0
open_min                   float64            2492           0
open_max                   float64            2492           0
high_min                   float64            2492           0
high_max                   float64            2492           0
low_min                    float64            2492           0
low_max                    float64            2492           0
close_min                  float64            2492           0
close_max                  float64            2492           0
volume_min                 float64            2492           0
volume_max                 float64            2492           0
return_min                 float64            2492           0
return_max                 float64            2492           0
ma5_min                    float64            2492           0
ma5_max                    float64            2492           0
ma20_min                   float64            2492           0
ma20_max                   float64            2492           0
ma50_min                   float64            2492           0
ma50_max                   float64            2492           0
volatility_min             float64            2492           0
volatility_max             float64            2492           0
volume_ma20_min            float64            2492           0
volume_ma20_max            float64            2492           0
day_of_week_min            float64            2492           0
day_of_week_max            float64            2492           0
month_min                  float64            2492           0
month_max                  float64            2492           0
close_original             float64            2492           0
next_month_close_scaled    float64            2492           0
next_month_close_original  float64            2492           0
price_up_month               int64            2492           0

--------------------------------------------------------------------------------

## Prophet Model Data

In [9]:
# Display Prophet initial data
display_csv_head('prophet/initial/AAPL_prophet.csv')

# Display Prophet period data
for period in ['day', 'week', 'month']:
    display_csv_head(f'prophet/{period}/AAPL_prophet_{period}.csv')

## üìä prophet/initial/AAPL_prophet.csv

**Shape:** 2513 rows √ó 14 columns

,ds,y,open,high,low,volume,ma5,ma20,ma50,volatility,volume_ma20,return,next_day_y,price_up
0,2015-05-13 00:00:00-04:00,28.259068,28.290464,28.523695,28.227671,138776800,28.884309,29.091414,28.676284,0.010445,170446000.0,0.023332,28.918398,1
1,2015-05-14 00:00:00-04:00,28.918398,28.573038,28.918398,28.516973,180814000,28.884309,29.091414,28.676284,0.010445,170446000.0,0.023332,28.878025,0
2,2015-05-15 00:00:00-04:00,28.878025,28.945304,29.039493,28.752440,152832000,28.884309,29.091414,28.676284,0.010445,170446000.0,-0.001396,29.196480,1
3,2015-05-18 00:00:00-04:00,29.196480,28.790569,29.315338,28.786083,203531600,28.884309,29.091414,28.676284,0.010445,170446000.0,0.011028,29.169573,0
4,2015-05-19 00:00:00-04:00,29.169573,29.308613,29.351223,29.073139,178532800,28.884309,29.091414,28.676284,0.010445,170446000.0,-0.000922,29.167328,0

**Columns:**

                Type  Non-Null Count  Null Count
ds            object            2513           0
y            float64            2513           0
open         float64            2513           0
high         float64            2513           0
low          float64            2513           0
volume         int64            2513           0
ma5          float64            2513           0
ma20         float64            2513           0
ma50         float64            2513           0
volatility   float64            2513           0
volume_ma20  float64            2513           0
return       float64            2513           0
next_day_y   float64            2513           0
price_up       int64            2513           0

--------------------------------------------------------------------------------

## üìä prophet/day/AAPL_prophet_day.csv

**Shape:** 2513 rows √ó 2 columns

                          ds          y
0  2015-05-13 00:00:00-04:00  28.259068
1  2015-05-14 00:00:00-04:00  28.918398
2  2015-05-15 00:00:00-04:00  28.878025
3  2015-05-18 00:00:00-04:00  29.196480
4  2015-05-19 00:00:00-04:00  29.169573

**Columns:**

       Type  Non-Null Count  Null Count
ds   object            2513           0
y   float64            2513           0

--------------------------------------------------------------------------------

## üìä prophet/week/AAPL_prophet_week.csv

**Shape:** 2504 rows √ó 2 columns

                          ds          y
0  2015-05-19 00:00:00-04:00  29.407284
1  2015-05-20 00:00:00-04:00  29.484429
2  2015-05-21 00:00:00-04:00  29.434644
3  2015-05-22 00:00:00-04:00  29.344940
4  2015-05-26 00:00:00-04:00  29.360190

**Columns:**

       Type  Non-Null Count  Null Count
ds   object            2504           0
y   float64            2504           0

--------------------------------------------------------------------------------

## üìä prophet/month/AAPL_prophet_month.csv

**Shape:** 2472 rows √ó 2 columns

                          ds          y
0  2015-06-11 00:00:00-04:00  28.264728
1  2015-06-12 00:00:00-04:00  28.248069
2  2015-06-15 00:00:00-04:00  28.247001
3  2015-06-16 00:00:00-04:00  28.256719
4  2015-06-17 00:00:00-04:00  28.281495

**Columns:**

       Type  Non-Null Count  Null Count
ds   object            2472           0
y   float64            2472           0

--------------------------------------------------------------------------------

## XGBoost Model Data

In [10]:
# Display XGBoost initial data
display_csv_head('xgboost/initial/AAPL_xgboost.csv')

# Display XGBoost period data
for period in ['day', 'week', 'month']:
    display_csv_head(f'xgboost/{period}/AAPL_xgboost_{period}.csv')

## üìä xgboost/initial/AAPL_xgboost.csv

**Shape:** 2513 rows √ó 38 columns

,date,open,high,low,close,volume,ma5,ma20,ma50,volatility,...,price_diff,high_low_diff,close_shift_1,close_shift_2,close_shift_3,next_day_close,price_up,pct_change_next_day,close_original,next_day_close_original
0,2015-05-13 04:00:00+00:00,-1.061934,-1.063040,-1.058486,-1.062565,0.425122,-1.052287,-1.044765,-1.041772,-0.750806,...,-0.072416,-0.883868,2.076616e-16,0.000000,0.000000,28.918398,1,-0.001396,28.259068,28.918398
1,2015-05-14 04:00:00+00:00,-1.057802,-1.057330,-1.054212,-1.052934,1.076341,-1.052287,-1.044765,-1.041772,-0.750806,...,0.133410,-0.833340,-1.062424e+00,0.000000,0.000000,28.878025,0,0.011028,28.918398,28.878025
2,2015-05-15 04:00:00+00:00,-1.052357,-1.055579,-1.050733,-1.053524,0.642858,-1.052287,-1.044765,-1.041772,-0.750806,...,-0.092019,-0.888168,-1.052789e+00,-1.062279,0.000000,29.196480,1,-0.000922,28.878025,29.196480
3,2015-05-18 04:00:00+00:00,-1.054620,-1.051589,-1.050236,-1.048872,1.428270,-1.052287,-1.044765,-1.041772,-0.750806,...,0.166490,-0.772059,-1.053379e+00,-1.052641,-1.062141,29.169573,0,-0.000077,29.196480,29.169573
4,2015-05-19 04:00:00+00:00,-1.047044,-1.051069,-1.045995,-1.049265,1.041001,-1.052287,-1.044765,-1.041772,-0.750806,...,-0.131223,-0.892467,-1.048726e+00,-1.053231,-1.052499,29.167328,0,0.010226,29.169573,29.167328

**Columns:**

                            Type  Non-Null Count  Null Count
date                      object            2513           0
open                     float64            2513           0
high                     float64            2513           0
low                      float64            2513           0
close                    float64            2513           0
volume                   float64            2513           0
ma5                      float64            2513           0
ma20                     float64            2513           0
ma50                     float64            2513           0
volatility               float64            2513           0
volume_ma20              float64            2513           0
return                   float64            2513           0
day_of_week              float64            2513           0
month                    float64            2513           0
day_of_month             float64            2513           0
quarter                  float64            2513           0
is_month_start           float64            2513           0
is_month_end             float64            2513           0
rsi_14                   float64            2513           0
macd                     float64            2513           0
macd_signal              float64            2513           0
macd_hist                float64            2513           0
bb_middle                float64            2513           0
bb_std                   float64            2513           0
bb_upper                 float64            2513           0
bb_lower                 float64            2513           0
bb_width                 float64            2513           0
bb_pct                   float64            2513           0
price_diff               float64            2513           0
high_low_diff            float64            2513           0
close_shift_1            float64            2513           0
close_shift_2            float64            2513           0
close_shift_3            float64            2513           0
next_day_close           float64            2513           0
price_up                   int64            2513           0
pct_change_next_day      float64            2513           0
close_original           float64            2513           0
next_day_close_original  float64            2513           0

--------------------------------------------------------------------------------

## üìä xgboost/day/AAPL_xgboost_day.csv

**Shape:** 2513 rows √ó 38 columns

,date,open,high,low,close,volume,ma5,ma20,ma50,volatility,...,price_diff,high_low_diff,close_shift_1,close_shift_2,close_shift_3,target,price_up,pct_change_target,close_original,target_original
0,2015-05-13 04:00:00+00:00,-1.061934,-1.063040,-1.058486,-1.062565,0.425122,-1.052287,-1.044765,-1.041772,-0.750806,...,-0.072416,-0.883868,2.076616e-16,0.000000,0.000000,28.918398,1,-0.001396,28.259068,28.918398
1,2015-05-14 04:00:00+00:00,-1.057802,-1.057330,-1.054212,-1.052934,1.076341,-1.052287,-1.044765,-1.041772,-0.750806,...,0.133410,-0.833340,-1.062424e+00,0.000000,0.000000,28.878025,0,0.011028,28.918398,28.878025
2,2015-05-15 04:00:00+00:00,-1.052357,-1.055579,-1.050733,-1.053524,0.642858,-1.052287,-1.044765,-1.041772,-0.750806,...,-0.092019,-0.888168,-1.052789e+00,-1.062279,0.000000,29.196480,1,-0.000922,28.878025,29.196480
3,2015-05-18 04:00:00+00:00,-1.054620,-1.051589,-1.050236,-1.048872,1.428270,-1.052287,-1.044765,-1.041772,-0.750806,...,0.166490,-0.772059,-1.053379e+00,-1.052641,-1.062141,29.169573,0,-0.000077,29.196480,29.169573
4,2015-05-19 04:00:00+00:00,-1.047044,-1.051069,-1.045995,-1.049265,1.041001,-1.052287,-1.044765,-1.041772,-0.750806,...,-0.131223,-0.892467,-1.048726e+00,-1.053231,-1.052499,29.167328,0,0.010226,29.169573,29.167328

**Columns:**

                      Type  Non-Null Count  Null Count
date                object            2513           0
open               float64            2513           0
high               float64            2513           0
low                float64            2513           0
close              float64            2513           0
volume             float64            2513           0
ma5                float64            2513           0
ma20               float64            2513           0
ma50               float64            2513           0
volatility         float64            2513           0
volume_ma20        float64            2513           0
return             float64            2513           0
day_of_week        float64            2513           0
month              float64            2513           0
day_of_month       float64            2513           0
quarter            float64            2513           0
is_month_start     float64            2513           0
is_month_end       float64            2513           0
rsi_14             float64            2513           0
macd               float64            2513           0
macd_signal        float64            2513           0
macd_hist          float64            2513           0
bb_middle          float64            2513           0
bb_std             float64            2513           0
bb_upper           float64            2513           0
bb_lower           float64            2513           0
bb_width           float64            2513           0
bb_pct             float64            2513           0
price_diff         float64            2513           0
high_low_diff      float64            2513           0
close_shift_1      float64            2513           0
close_shift_2      float64            2513           0
close_shift_3      float64            2513           0
target             float64            2513           0
price_up             int64            2513           0
pct_change_target  float64            2513           0
close_original     float64            2513           0
target_original    float64            2513           0

--------------------------------------------------------------------------------

## üìä xgboost/week/AAPL_xgboost_week.csv

**Shape:** 2508 rows √ó 41 columns

,date,open,high,low,close,volume,ma5,ma20,ma50,volatility,...,close_shift_2,close_shift_3,next_day_close,price_up,pct_change_next_day,close_original,next_day_close_original,target,target_original,pct_change_target
0,2015-05-13 04:00:00+00:00,-1.061934,-1.063040,-1.058486,-1.062565,0.425122,-1.052287,-1.044765,-1.041772,-0.750806,...,0.000000,0.000000,28.918398,1,-0.001396,28.259068,28.918398,-1.050778,29.065961,0.028553
1,2015-05-14 04:00:00+00:00,-1.057802,-1.057330,-1.054212,-1.052934,1.076341,-1.052287,-1.044765,-1.041772,-0.750806,...,0.000000,0.000000,28.878025,1,0.011028,28.918398,28.878025,-1.049180,29.175399,0.008887
2,2015-05-15 04:00:00+00:00,-1.052357,-1.055579,-1.050733,-1.053524,0.642858,-1.052287,-1.044765,-1.041772,-0.750806,...,-1.062279,0.000000,29.196480,1,-0.000922,28.878025,29.196480,-1.046710,29.344492,0.016153
3,2015-05-18 04:00:00+00:00,-1.054620,-1.051589,-1.050236,-1.048872,1.428270,-1.052287,-1.044765,-1.041772,-0.750806,...,-1.052641,-1.062141,29.169573,1,-0.000077,29.196480,29.169573,-1.047083,29.318927,0.004194
4,2015-05-19 04:00:00+00:00,-1.047044,-1.051069,-1.045995,-1.049265,1.041001,-1.052287,-1.044765,-1.041772,-0.750806,...,-1.053231,-1.052499,29.167328,1,0.010226,29.169573,29.167328,-1.045793,29.407284,0.008149

**Columns:**

                            Type  Non-Null Count  Null Count
date                      object            2508           0
open                     float64            2508           0
high                     float64            2508           0
low                      float64            2508           0
close                    float64            2508           0
volume                   float64            2508           0
ma5                      float64            2508           0
ma20                     float64            2508           0
ma50                     float64            2508           0
volatility               float64            2508           0
volume_ma20              float64            2508           0
return                   float64            2508           0
day_of_week              float64            2508           0
month                    float64            2508           0
day_of_month             float64            2508           0
quarter                  float64            2508           0
is_month_start           float64            2508           0
is_month_end             float64            2508           0
rsi_14                   float64            2508           0
macd                     float64            2508           0
macd_signal              float64            2508           0
macd_hist                float64            2508           0
bb_middle                float64            2508           0
bb_std                   float64            2508           0
bb_upper                 float64            2508           0
bb_lower                 float64            2508           0
bb_width                 float64            2508           0
bb_pct                   float64            2508           0
price_diff               float64            2508           0
high_low_diff            float64            2508           0
close_shift_1            float64            2508           0
close_shift_2            float64            2508           0
close_shift_3            float64            2508           0
next_day_close           float64            2508           0
price_up                   int64            2508           0
pct_change_next_day      float64            2508           0
close_original           float64            2508           0
next_day_close_original  float64            2508           0
target                   float64            2508           0
target_original          float64            2508           0
pct_change_target        float64            2508           0

--------------------------------------------------------------------------------

## üìä xgboost/month/AAPL_xgboost_month.csv

**Shape:** 2492 rows √ó 41 columns

,date,open,high,low,close,volume,ma5,ma20,ma50,volatility,...,close_shift_2,close_shift_3,next_day_close,price_up,pct_change_next_day,close_original,next_day_close_original,target,target_original,pct_change_target
0,2015-05-13 04:00:00+00:00,-1.061934,-1.063040,-1.058486,-1.062565,0.425122,-1.052287,-1.044765,-1.041772,-0.750806,...,0.000000,0.000000,28.918398,1,-0.001396,28.259068,28.918398,-1.050402,29.091718,0.029465
1,2015-05-14 04:00:00+00:00,-1.057802,-1.057330,-1.054212,-1.052934,1.076341,-1.052287,-1.044765,-1.041772,-0.750806,...,0.000000,0.000000,28.878025,1,0.011028,28.918398,28.878025,-1.050719,29.070039,0.005244
2,2015-05-15 04:00:00+00:00,-1.052357,-1.055579,-1.050733,-1.053524,0.642858,-1.052287,-1.044765,-1.041772,-0.750806,...,-1.062279,0.000000,29.196480,1,-0.000922,28.878025,29.196480,-1.050901,29.057545,0.006216
3,2015-05-18 04:00:00+00:00,-1.054620,-1.051589,-1.050236,-1.048872,1.428270,-1.052287,-1.044765,-1.041772,-0.750806,...,-1.052641,-1.062141,29.169573,0,-0.000077,29.196480,29.169573,-1.051352,29.026682,-0.005816
4,2015-05-19 04:00:00+00:00,-1.047044,-1.051069,-1.045995,-1.049265,1.041001,-1.052287,-1.044765,-1.041772,-0.750806,...,-1.053231,-1.052499,29.167328,0,0.010226,29.169573,29.167328,-1.051694,29.003295,-0.005700

**Columns:**

                            Type  Non-Null Count  Null Count
date                      object            2492           0
open                     float64            2492           0
high                     float64            2492           0
low                      float64            2492           0
close                    float64            2492           0
volume                   float64            2492           0
ma5                      float64            2492           0
ma20                     float64            2492           0
ma50                     float64            2492           0
volatility               float64            2492           0
volume_ma20              float64            2492           0
return                   float64            2492           0
day_of_week              float64            2492           0
month                    float64            2492           0
day_of_month             float64            2492           0
quarter                  float64            2492           0
is_month_start           float64            2492           0
is_month_end             float64            2492           0
rsi_14                   float64            2492           0
macd                     float64            2492           0
macd_signal              float64            2492           0
macd_hist                float64            2492           0
bb_middle                float64            2492           0
bb_std                   float64            2492           0
bb_upper                 float64            2492           0
bb_lower                 float64            2492           0
bb_width                 float64            2492           0
bb_pct                   float64            2492           0
price_diff               float64            2492           0
high_low_diff            float64            2492           0
close_shift_1            float64            2492           0
close_shift_2            float64            2492           0
close_shift_3            float64            2492           0
next_day_close           float64            2492           0
price_up                   int64            2492           0
pct_change_next_day      float64            2492           0
close_original           float64            2492           0
next_day_close_original  float64            2492           0
target                   float64            2492           0
target_original          float64            2492           0
pct_change_target        float64            2492           0

--------------------------------------------------------------------------------

## Summary of All Files